SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt
SUN,13:55:50#echo a >> test.txt